{
<%- @networking['interfaces'].each do |interface| -%>
  <%- if interface[1]['ip'] =~ /^10.15.40/ -%>
  "advertise_addr": "<%= interface[1]['ip'] %>",
  "bind_addr": "<%= interface[1]['ip'] %>",
  <%- end -%>
<%- end -%>
  "data_dir": "/var/lib/consul",
  "datacenter": "<%= @consul_dc %>",
  "encrypt": "<%= @consul_enc %>",
  "node_name": "<%= @hostname %>",
  "retry_join": [
  <% @servers.each do |server| -%>
    "<%= server %>",
  <%- end -%>
  ],
  "server": false,
}

